<div class="htmlfixer_settings">
    <div class="inline-drawer">
        <div class="inline-drawer-toggle inline-drawer-header">
            <b>HtmlFixer Settings</b>
            <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
        </div>
        <div class="inline-drawer-content">
            <div>
                <label>Connection Profile</label>
            </div>
            <select
                class="text_pole connection_profile"
                title="Select a Connection Profile"
                data-i18n="[title]Select a Connection Profile"
            ></select>
            <div class="title_restorable">
                <label for="prompt">Prompt</label>
            </div>
            <textarea class="text_pole textarea_compact prompt" rows="4"></textarea>
        </div>
    </div>
</div>